<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link href="todo.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div class="todo-div">
        <h1 class="todo-title">To-Do List</h1>
        <form action="/todoList" method="POST" class="todo-form">
            <input type="text" name="task" placeholder="Input task" required />
            <input type="submit" value="Add">
        </form>
        <table>
            <tr>
                <th>Id</th>
                <th>Task</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <!-- input dynamic data -->
            <% if(tasks != {}){ %>
                <% for (var i = 0; i<tasks.length; i++){ %>
                    <tr>
                        <td><%= tasks[i].id %></td>
                        <td><%= tasks[i].task %></td>
                        <td><a href="/todoUpdate?id=<%- tasks[i].id %>">Update</a></td>
                        <td><a href="/todoDelete?id=<%- tasks[i].id %>">Delete</a></td>
                    </tr> 
              <%  } %>
           <% } else { %>
            <h1>Data Not Found</h1>
            <% } %>

            
        </table>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>